{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">
  <article class="article full-article" itemscope itemtype="http://schema.org/Article">
    {{ if .Params.image }}
    <img src="{{ $.Site.BaseURL }}img/{{ .Params.image }}" class="article-banner-full" itemprop="image">
    {{end}}
    <h1 itemprop="name">{{ .Title }}</h1>
    {{ partial "article_metadata" (dict "content" . "is_list" 0) }}
    <div class="article-style" itemprop="articleBody">
      {{ .Content }}
    </div>
  </article>

  <br>
  <hr>
  {{ partial "section_pager.html" . }}
  <hr>
  {{ partial "comments.html" . }}

</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
